<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto">
            <!-- Products list -->
            <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto ">
                <section class="section section-default mt-none mb-none">
                    <div class="container mt-3 mb-3">
                        <strong>
                            <div class="flex flex-col sm:flex-row">
                                <div class="w-full lg:w-1/5">
                                    <div class="square-holder">
                                        <img alt="" src="assets/images/search/google.png" />
                                    </div>
                                </div>
                                <div class="w-full lg:w-1/5">
                                    <div class="square-holder">
                                        <img alt="" src="assets/images/search/bing.jpg" />
                                    </div>
                                </div>
                                <div class="w-full lg:w-1/5">
                                    <div class="square-holder">
                                        <img alt="" src="assets/images/search/breve.png" />
                                    </div>
                                </div>
                                <div class="w-full lg:w-1/5">
                                    <div class="square-holder">
                                        <img alt="" src="assets/images/search/baidu.jpg" />
                                    </div>
                                </div>
                                <div class="w-full lg:w-1/5">
                                    <div class="square-holder">
                                        <img alt="" src="assets/images/search/wix.png" />
                                    </div>
                                </div>
                            </div>
                        </strong>

                    </div>
                    <div class="container-fluid">
                        <iframe width="100%" height="870" frameBorder="0" src="https://www.bing.com/"></iframe>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>