<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขรายการขนส่ง
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">
                <div class="w-full lg:w-3/4">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชื่อสินค้า</mat-label>
                                <input matInput [formControlName]="'name'" placeholder="ชื่อสินค้า">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ประเภทขนส่ง</mat-label>
                                <mat-select [formControlName]="'transport_type'">
                                    <mat-option [value]="''">
                                        <span class="text-gray-400">เลือกประเภทขนส่ง</span>
                                    </mat-option>
                                    <mat-option *ngFor="let logistic of logisticData" [value]="logistic.name">
                                        {{logistic.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ความกว้าง</mat-label>
                                <input matInput [formControlName]="'width'" placeholder="ความกว้าง">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ความสูง</mat-label>
                                <input matInput [formControlName]="'height'" placeholder="ความสูง">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">น้ำหนัก</mat-label>
                                <input matInput [formControlName]="'weight'" placeholder="น้ำหนัก">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">จำนวน</mat-label>
                                <input matInput [formControlName]="'qty'" placeholder="จำนวน">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">จุดเริ่ม</mat-label>
                                <input matInput [formControlName]="'start_location'" placeholder="จุดเริ่ม">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Latitute</mat-label>
                                <input matInput [formControlName]="'start_lat'" placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Longtitute</mat-label>
                                <input matInput [formControlName]="'start_lon'" placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">จุดส่ง</mat-label>
                                <input matInput [formControlName]="'end_location'" placeholder="จุดส่ง">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Latitute</mat-label>
                                <input matInput [formControlName]="'end_lat'" placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">Longtitute</mat-label>
                                <input matInput [formControlName]="'end_lon'" placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รายละเอียดงาน</mat-label>
                                <textarea matInput rows="4" [formControlName]="'description'" placeholder="รายละเอียดงาน"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label>สถานะ</mat-label>
                                <mat-select [formControlName]="'status'">
                                    <mat-option *ngFor="let sta of statusData" [value]="sta.value">
                                        {{sta.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/4 ">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <div class="border-t border-gray-200">
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-1 sm:gap-4 sm:px-6">
                                    <img class="img" *ngFor="let url of itemData.images" [src]="url.image" class="border-gray-200 h-auto mb-2 w-full transition-shadow ease-in-out duration-300 shadow-none hover:shadow-xl">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <label class="font-bold">ภาพประกอบ</label>
                            <ngx-dropzone style="width: 100%; height: 250px; justify-content: center;" (change)="onSelect($event)">
                                <ngx-dropzone-label>เลือกภาพ</ngx-dropzone-label>
                                <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f" (removed)="onRemove(f)">
                                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </div>
            </div>
            <!-- button -->
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <div class="flex items-center justify-end">
                    <a class="ml-4" mat-flat-button href="recruit/list">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ยกเลิก
                    </a>
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update()">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        ยืนยัน
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>