<div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
    <form class="flex flex-col p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
        <div class="flex flex-col sm:flex-row">
            <div class="flex flex-auto flex-wrap">

                <div class="flex flex-col w-full lg:w-4/4 p-3">
                    <div class="flex">
                        <mat-form-field class="w-full">
                            <mat-label class="font-bold">ชื่อโมเดล
                            </mat-label>
                            <input matInput [formControlName]="'name'" placeholder="ชื่อรายการ">
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex flex-col w-full lg:w-4/4 p-3">
                    <div class="flex">
                        <mat-form-field class="w-full">
                            <mat-label>สีรถ
                            </mat-label>
                            <mat-select [formControlName]="'color_id'">
                                <mat-option [value]="''">
                                    <span>เลือกสีรถ</span>
                                </mat-option>
                                <mat-option *ngFor="let item of itemColorData" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col w-full lg:w-4/4 p-3">
                    <div class="flex">
                        <mat-form-field class="w-full">
                            <mat-label>ล้อแม็ก
                            </mat-label>
                            <mat-select [formControlName]="'maxe_id'">
                                <mat-option [value]="''">
                                    <span>เลือกล้อแม็ก</span>
                                </mat-option>
                                <mat-option *ngFor="let item of itemMaxeData" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex flex-col w-full lg:w-4/4 p-3">
                    <div class="border-t border-gray-200">
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                            <div class=" flex flex-wrap justify-start">
                                <ngx-dropzone style="width: 100%; height: 50px; justify-content: center;" (change)="onSelect($event)">
                                    <ngx-dropzone-label>รูปภาพ</ngx-dropzone-label>
                                    <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f" (removed)="onRemove(f)">
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div>
                        </dd>
                    </div>
                </div>

            </div>
        </div>
        <div class="flex items-center justify-end w-full border-t px-8 py-4">
            <div class="flex items-center justify-end">
                <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update()">
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>

    </form>

</div>